
<div class="btn-group dash-button" role="group" aria-label="Basic example">
    <a id="btn-world" type="button" href="../dashboard/worldmap" style="color: aliceblue;" class="btn btn-secondary">World Map</a>
    <a id="btn-usa" type="button" href="../dashboard/usamap" style="color: aliceblue;" class="btn btn-secondary">USA</a>
    <a id="btn-usa-region"  type="button" href="../dashboard/usaRegionDashboard" style="color: aliceblue;" class="btn btn-secondary">USA Regions</a>
    <a id="btn-overview" type="button" href="../dashboard/overviewDashboard" style="color: aliceblue;" class="btn btn-secondary">Overview</a>
  </div>
