<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#" style="margin-right: 40px;">THE PANDEMIC CHRONICLES</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="pandemics_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pandemics</a>
            <div class="dropdown-menu" aria-labelledby="pandemics_dropdown">
              <a class="dropdown-item" href="#">COVID-19</a>
              <a class="dropdown-item" href="#">EBOLA</a>
              <a class="dropdown-item" href="#">MERS</a>
              <a class="dropdown-item" href="#">SWINE FLU</a>
              <a class="dropdown-item" href="#">SARS-CoV</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="organizations_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Organizations</a>
            <div class="dropdown-menu" aria-labelledby="organizations_dropdown">
              <a class="dropdown-item" href="#">World Health Organization</a>
              <a class="dropdown-item" href="#">Centers For Disease And Control</a>
              <a class="dropdown-item" href="#">World Bank Organization</a>
              <a class="dropdown-item" href="#">UNICEF</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">COVID19 Dashboard</a>
          </li>
        </ul>

      </div>
    </nav>
  </header>