<%- include('./partials/header.ejs') %>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="https://unpkg.com/chartkick@3.2.0/dist/chartkick.js"></script>
<!-- <%= pandemic %> -->

<link rel="stylesheet" href="../css/pandemic.css">
<div class="pandemic-container">
    <div class="row border-div">
        <div class="col-md-4 section-left">

        </div>
        <div class="col-md-4 section-center">
            <div class="row center-row-top">
                <h1 id="pandemic_name"> </h1>
            </div>
            <div class="row center-row-bottom">
                <div id="pandemic-chart" class="chart_render"></div>
            </div>
        </div>
        <div class="col-md-4 section-right">

        </div>
    </div>
</div>




<script>
    if ($('.nav-item').hasClass('active')) {
        $('.nav-item').removeClass('active');
        $('#organizations_dropdown').addClass('active');
    }

    var pandemic = {
        "id": 1,
        "name": "Ebola",
        "type": "Ebolavirus / Wild animals",
        "origin": "",
        "death_toll": 11325,
        "confirmed_cases": 28652,
        "recovered_cases": 17327,
        "time_period": "2014-2016",
        "symptoms": "Fever, sore throat, muscular pain, headaches, diarrhoea, bleeding",
        "complications": "Low blood pressure from fluid loss",
        "usual_onset": "Two days to three weeks post exposure",
        "specialty": "Infectious disease",
        "prevention": "Coordinated medical services, careful handling of bushmeat",
        "treatment": "Supportive care",
        "prognosis": "25–90% mortality",
        "description": "Ebola virus disease (EVD), or simply Ebola, is a viral haemorrhagic fever of humans and other primates caused by ebolaviruses.Signs and symptoms typically start between two days and three weeks after contracting the virus with a fever, sore throat, muscular pain, and headaches.Vomiting, diarrhoea and rash usually follow, along with decreased function of the liver and kidneys.At this time, some people begin to bleed both internally and externally.The disease has a high risk of death, killing 25% to 90% of those infected, with an average of about 50%.This is often due to low blood pressure from fluid loss, and typically follows six to 16 days after symptoms appear.",
        "data": [
            {
                "country": "Liberia",
                "cases": 10675,
                "deaths": 4809
            },
            {
                "country": "Sierra Leone",
                "cases": 14124,
                "deaths": 3956
            },
            {
                "country": "Guinea",
                "cases": 3811,
                "deaths": 2543
            },
            {
                "country": "Nigeria",
                "cases": 20,
                "deaths": 8
            },
            {
                "country": "Mali",
                "cases": 8,
                "deaths": 6
            },
            {
                "country": "United States",
                "cases": 4,
                "deaths": 1
            },
            {
                "country": "Italy",
                "cases": 1,
                "deaths": 0
            },
            {
                "country": "United Kingdom",
                "cases": 1,
                "deaths": 0
            },
            {
                "country": "Senegal",
                "cases": 1,
                "deaths": 0
            },
            {
                "country": "Spain",
                "cases": 1,
                "deaths": 0
            }
        ],
        "source": [
            "https://en.wikipedia.org/wiki/Western_African_Ebola_virus_epidemic",
            "https://www.cdc.gov/vhf/ebola/history/2014-2016-outbreak/index.html"
        ]
    };

    console.log(pandemic);

    var cases = [];
    var deaths = [];
    var tolldata = pandemic.data;
    for (item in tolldata) {
        var jsonobject = [];
        jsonobject.push(tolldata[item].country, tolldata[item].cases);
        cases.push(jsonobject);
        var jsonobject = [];
        jsonobject.push(tolldata[item].country, tolldata[item].deaths);
        deaths.push(jsonobject);
    }

    Chartkick.options = {
        library: { animation: { easing: 'easeOutQuart' } },
    }

    new Chartkick.BarChart("pandemic-chart", [{ name: "Cases", data: cases }, { name: "Deaths", data: deaths }]);

    $("#pandemic_name").html('WHO');

</script>