<%- include('./partials/header.ejs') %>
<%- include('./partials/header_dashboard.ejs') %>
<!-- Styles -->
<style>
  #worldChartdiv {
    width: 100%;
    height: 100%;
    margin-top: 30px;
  }
  .worldMapContainer{
    display: inline-block;
    width: 100%;
    height: 90%;
    overflow: hidden;
    background-size: cover;
    color: black;
}
</style>
<!-- Resources -->
<script src="https://code.jquery.com/jquery-3.5.0.min.js"
    integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/maps.js"></script>
<script src="https://www.amcharts.com/lib/4/geodata/worldLow.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

<!-- Chart code -->
<script>
  $("#btn-world").addClass('active');

  var settings = {
        "url": "https://corona.lmao.ninja/v2/countries",
        "async": true,
        "method": "GET",
        "timeout": 0
    };

    $.ajax(settings).done(function (response) {

  am4core.ready(function () {

    // Themes begin
    am4core.useTheme(am4themes_animated);
    // Themes end

    // Create map instance
    var worldchart = am4core.create("worldChartdiv", am4maps.MapChart);

    var title = worldchart.titles.create();
    title.text = "[bold font-size: 20]Current Cases Around The World[/]\nSource: PostMan API";
    title.textAlign = "middle";

    var covid = response;
        var map=[];
      
        for (item in covid) {
                var jsonobject =
                  {"id":covid[item].countryInfo.iso2, 
                  "name":covid[item].country, 
                  "value":covid[item].cases, 
                  "color": worldchart.colors.getIndex(1)};
            map.push(jsonobject);
          }
          //console.log(map);
          var mapData = map;
          
    // Set map definition
    worldchart.geodata = am4geodata_worldLow;

    // Set projection
    worldchart.projection = new am4maps.projections.Miller();

    // Create map polygon series
    var polygonSeries = worldchart.series.push(new am4maps.MapPolygonSeries());
    polygonSeries.exclude = ["AQ"];
    polygonSeries.useGeodata = true;
    polygonSeries.nonScalingStroke = true;
    polygonSeries.strokeWidth = 0.5;
    polygonSeries.calculateVisualCenter = true;

    var imageSeries = worldchart.series.push(new am4maps.MapImageSeries());
    imageSeries.data = mapData;
    imageSeries.dataFields.value = "value";

    var imageTemplate = imageSeries.mapImages.template;
    imageTemplate.nonScaling = true

    var circle = imageTemplate.createChild(am4core.Circle);
    circle.fillOpacity = 0.7;
    circle.propertyFields.fill = "color";
    circle.tooltipText = "{name}: [bold]{value}[/]";


    imageSeries.heatRules.push({
      "target": circle,
      "property": "radius",
      "min": 4,
      "max": 30,
      "dataField": "value"
    })

    imageTemplate.adapter.add("latitude", function (latitude, target) {
      var polygon = polygonSeries.getPolygonById(target.dataItem.dataContext.id);
      if (polygon) {
        return polygon.visualLatitude;
      }
      return latitude;
    })

    imageTemplate.adapter.add("longitude", function (longitude, target) {
      var polygon = polygonSeries.getPolygonById(target.dataItem.dataContext.id);
      if (polygon) {
        return polygon.visualLongitude;
      }
      return longitude;
    })



  }); // end am4core.ready()
});

</script>

<!-- HTML -->
<div class="worldMapContainer">
  <div id="worldChartdiv"></div>
</div>

<script>
  if ($('.nav-item').hasClass('active')) {
    $('.nav-item').removeClass('active');
    $('#dashboard').addClass('active');
    $('#dashboardNav').addClass('active');
  }
</script>