.body{
    padding-bottom: 0px;
}

.dash-button
{
    text-align: center;
    margin-top: 15px;
    align-items: center;
    justify-items: center;
    width: 100%;
}

.dashbtn {
    color: aliceblue;
    }
    