.chart_render {
  height: 100%;
  width: 100%;
}

.pandemic-container {
  width: 100%;
  height: 100%;
  padding: 20px 30px;
  overflow: hidden;
  background-size: cover;
  background-color: aliceblue;
  color: black;
}

.border-div {
  /* border: 1px solid white; */
  height: 100%;
}

.section-left,
.section-center {
  /* border-right:  1px solid white; */
  height: 100%;
}

.center-row-top {
  /* border-bottom:  1px solid white; */
  text-align: center;
  height: 20%;
  display: grid;
  align-items: center;
}

.center-row-bottom {
  text-align: center;
  height: 80%;
}
