<!DOCTYPE html>
<html>
  <head>
    <title>Add  New Data</title>
    <%- include('../partials/header.ejs') %>
    <link rel="stylesheet" src="style.css" />
  </head>
  <body>
    <div class="topnav">
      <a href="/protectedhome">Disasters</a>
      <a href="/faq">FAQ's</a>
      <a href="/explore">Explore</a>
      <a href="/resources">Resources</a>
      <a class="active" href="/patients">Covid19</a>
      <a href="/dashboard">Dashboard</a>
    </div>
    <div class="container">
      <h3><a href="/patients"> Covid 19 Till Date</a></h3>
      <h1>Create New Entry</h1>
      <form action="/patients/save" method="post">
        <table class="covid_table">
          <tbody>
            <!-- <tr>
              <td>Patiend ID</td>
              <td><input   required="" type="number" name="id" /></td>
            </tr> -->
            <tr>
              <td>ObservationDate</td>
              <td><input   required="" type="Date" name="ObservationDate" /></td>
            </tr>
            <tr>
              <td>Province</td>
              <td><textarea   required="" name="Province"></textarea></td>
            </tr>
            <tr>
              <td>Country</td>
              <td><input   required="" type="text" name="Country" /></td>
            </tr>
              <td>Confirmed</td>
              <td><input   required="" type="number" name="Confirmed" /></td>
            </tr>
            <tr>
              <td>Deaths</td>
              <td><input   required="" type="number" name="Deaths" /></td>
            </tr>
            <tr>
              <td>Recovered</td>
              <td><input   required="" type="number" name="Recovered" /></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit" value="Save">Save</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>